---
title: Team Abletech
description: The people that make up Abletech.
page_classes: team
---
<%
	founders = data.team.profiles.select {|p| p[:founder] == true}
	rest_of_the_gang = data.team.profiles.select {|p| p[:founder] != true}
%>
<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_page">Thinkers, innovators, cyclists, climbers, foodies.</h1>
  	<h2 class="founding_partners">Founding partners</h2>
  	<ul class="profiles">
			<% founders.each do |p| %>
  		<li class="profile_scope profile_large" itemscope itemtype="http://schema.org/Person">
  			<div class="profile_photo">
  				<h3 class="profile_name" itemprop="name"><%= p[:name] %></h3>
  				<img itemprop="image" src="/images/<%= p[:photo] %>" alt="<%= p[:name] %>">
  			</div>
  			<div class="details">
  				<p class="paragraph_intro" itemprop="jobTitle"><%= p[:title] %></p>
  				<%= p[:description].html_safe %>
  			</div>
  		</li>
  		<% end %>
  	</ul>
  	<h2 class="the_rest_of_the_gang">The rest of the gang</h2>
  	<ul class="profiles">
			<% rest_of_the_gang.each do |p| %>
  		<li class="profile_scope" itemscope itemtype="http://schema.org/Person">
  			<div class="profile_photo">
  				<h3 class="profile_name" itemprop="name"><%= p[:name] %></h3>
  				<img itemprop="image" src="/images/<%= p[:photo] %>" alt="<%= p[:name] %>">
  			</div>
  			<div class="details">
  				<p class="paragraph_intro" itemprop="jobTitle"><%= p[:title] %></p>
  				<%= p[:description].html_safe %>
  			</div>
  		</li>
  		<% end %>
			<li class="profile_scope profile_placeholder">
				<a href="/team/you/">
					<div class="profile_photo">
						<h3 class="profile_name">You?</h3>
						<img src="/images/team_you.png" alt="You?">
					</div>
			    <div class="details">
			      <p>You are an innovative thinker who sees the big picture but you also have an eye for detail. You are keen on web and mobile development. So what are you waiting for?</p>
			    </div>
				</a>
			</li>
  	</ul>
  </div>
</section>
<section id="life_at_abletech" class="section section_aside section_column">
	<aside id="team_activities">
		<figure class="figure figure_polaroid">
			<img src="/images/team_pies.jpg" alt="Hot pies ready to be eaten">
			<figcaption>Pie day Thursday. Home-made pies!</figcaption>
		</figure>
	</aside>
	<h1 class="heading heading_section">Join us, we’d love to have you!</h1>
	<p class="paragraph_intro">Life at Abletech is not all heads-down coding! In between debates about pixel placement, we do a bunch of fun stuff and the odd extra-curricular activity.</p>
	<p class="paragraph_intro">We are always looking to hire like-minded people, so if you think you’d be a good fit, we’d love to hear from you!</p>
</section>
<section id="favourite_tech" class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_section">Some of our favourite technologies</h1>
  	<ul class="list_technologies list_count_<%= data.tech.tech.length %>">
  		<% sorted_tech = data.tech.tech.sort_by {|t| t[:order]} %>
  		<% sorted_tech.each do |t| %>
  		<li class="technology <%= t[:class] %>"><%= t[:title] %></li>
  		<% end %>
  	</ul>
  </div>
</section>

<% content_for :load_page_script do %>
addScript('<%= asset_path(:js, "page.team") %>');
<% end %>
