---
title: What we do at Abletech
description: We’ve worked with companies big and small, building web apps, mobile apps, static websites, APIs and Geographic Information Systems (GIS).
page_classes: work
---

<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_page">Chances are, you’ve used one of our apps.</h1>
  	<div id="reaches_wrapper">
  		<div class="reaches_container">
  			<ul class="reaches">
  				<li class="reach reach_nz_post">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_nz_post_50.jpg" alt="New Zealand Post delivery">
  						</figure>
  						<div class="reach_description">
  							<p>We help New Zealand Post track parcels from source to destination.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_meatmail">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_meat_mail_50.jpg" alt="">
  						</figure>
  						<div class="reach_description invert">
  							<p>MeatMail delivers meat and fresh produce quickly and to the right door using our app.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_auckland_transport">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_auckland_transport_50.jpg" alt="Auckland Transport school road-safety">
  						</figure>
  						<div class="reach_description invert">
  							<p>With our assistance, Auckland Transport is making roads safer around schools with Travelwise.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_red_cross">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_red_cross_50.jpg" alt="">
  						</figure>
  						<div class="reach_description">
  							<p>We improved the efficiency of ordering goods and services from Red Cross.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_spring_to_the_street">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_spring_to_the_street_50.jpg" alt="">
  						</figure>
  						<div class="reach_description">
  							<p>People can Spring To The Street using our app that helps explore transport alternatives.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_journey_planner">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_journey_planner_50.jpg" alt="">
  						</figure>
  						<div class="reach_description">
  							<p>All-terrain route planning is personalised and intelligent with our Journey Planner app.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_aed_locations">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_aed_50.jpg" alt="">
  						</figure>
  						<div class="reach_description">
  							<p>We built AED Locations, a life-saving app that locates the nearest AED for a sudden cardiac arrest.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_radio_nz">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_radio_nz_50.jpg" alt="">
  						</figure>
  						<div class="reach_description invert">
  							<p>We built The Wireless app that connects IT-savvy New Zealanders with Radio NZ.</p>
  						</div>
  					</div>
  				</li>
  				<li class="reach reach_regthedog">
  					<div class="reach_card">
  						<figure class="figure figure_reach">
  							<img src="/images/customer_regthedog_50.jpg" alt="">
  						</figure>
  						<div class="reach_description invert">
  							<p>We make it possible to complete all your canine registration and licensing needs online at RegTheDog.</p>
  						</div>
  					</div>
  				</li>
  			</ul>
  		</div>
  	</div>
  </div>
</section>
<section id="working_with" class="section section_column">
	<h1 class="heading heading_subsection">We work with these organisations</h1>
	<ul class="logos logo_grid">
		<% workLogos = data.clients.select {|c| c[:workpageVisible] == true} %>
		<% workLogos.each do |l| %>
		<li><a href="<%= l[:url] %>" class="logo_<%= l[:class] %>"><%= l[:name] %></a></li>
		<% end %>
	</ul>
</section>
<section id="how_can_we_help" class="section section_column section_column_banner section_alternate">
  <div class="banner_container">
  	<h1 class="heading heading_subsection">So, how can we help you?</h1>
  	<p class="paragraph_intro">Our team is made up of professional programmers, system architects, consultants and geo-application developers. If you have an idea, chances are we can build it.</p>
  	<p><a class="button button_banner" href="/contact/">Contact us</a></p>
  </div>
</section>
<section class="section section_column section_column_banner">
  <div class="banner_container">
  	<h1 class="heading heading_subsection">A bit more about what we do…</h1>
  	<ul class="services">
  		<% data.services.each do |s| %>
  		<li class="service service_<%= s[:class] %>">
  			<a href="<%= s[:url] %>">
  				<h2><%= s[:title].html_safe %></h2>
  				<p><%= s[:description].html_safe %></p>
  			</a>
  		</li>
  		<% end %>
  	</ul>
  </div>
</section>
<section class="section section_column">
	<h1 class="heading heading_subsection">We use a simple but effective process.</h1>
	<ol class="list_highlights">
		<li>We talk about your idea or problem</li>
		<li>Together we analyse your requirements and plan your solution</li>
		<li>Design and build: an iterative process where you stay in the loop, in full control</li>
	</ol>
</section>

<% content_for :load_page_script do %>
addScript('<%= asset_path(:js, "page.work") %>');
<% end %>
